.header{    
    top: 0px;
    left: 0px;
    width: 100%;
    height: 200px;
}
.header__logo{
    width: 100%;
    max-width: 280px;
    height: 100%;
    object-fit: contain;
}
.work-area{
    max-width: 1400px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    font-family: 'Rubik Microbe', cursive;
    font-family: 'Source Code Pro', monospace;
}
.work-area img{
    width: 30%;
    border-radius: 250px;
}
p{
    font-size: 20px;
}
h1,h2,p{
    line-height: 12px;
    font-size: 18px;
}